
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="text-center">
    <h2>Welcome to <span>CondoGest</span><br>A Simple and effective way to manage your condo</h2>
    <p>To proceed, please use the buttons bellow in order to register on our portal and website! Or if you're a member, you can use the login button next to it!</p>
    <a asp-controller="User" asp-action="Index">Users</a>
    <a asp-controller="Company" asp-action="Index">Company</a>
    <a asp-controller="Role" asp-action="Index">Role</a>
</div>
