
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Dashboard</h1>

<div class="text-center">
    <h1 class="display-4">Welcome To the Dashboard</h1>
	<h4 class="text-secondary">Manage your condo efficiently</h4>
    <p>All of the desired options can be used by clicking the buttons beside this area or at top!</p>
    <p>You can change your profile picture, chat with other members of the condo, see alerts for your current condo along side other options!</p>

</div>
