
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="text-center">
    <h2>Welcome to <span><h1>CondoGest's</h1></span>Portal</h2>
    <p>To proceed, please use the buttons bellow or feel free to select any of the options in our dashboard.</p>
    
    <a asp-controller="User" asp-action="Index" class="btn btn-primary ml-2">Users</a>
    <a asp-controller="Company" asp-action="Index" class="btn btn-primary ml-2">Company</a>
    <a asp-controller="Role" asp-action="Index" class="btn btn-primary ml-2">Role</a>
</div>
