@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="textBox">
    <h2>Welcome to <span>CondoGest</span><br>A Simple and effective way to manage your condo</h2>
    <p>To proceed, please use the buttons bellow in order to register on our portal and website! Or if you're a member, you can use the login button next to it!</p>
    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
<div class="imgBox">
	<img src="~/images/others/condoblues.png" class="condo">
</div>