<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home Page</title>
    <link rel="stylesheet" href="~/css/loader.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body @* class="bg-light text-dark d-flex flex-column min-vh-100" *@>
    @* Loader *@
    @await Html.PartialAsync("_Loader")
    <section>
        <div class="circle"></div>
        <header>
            <a asp-controller="Home" asp-action="Index"><img src="~/images/brand/condogestLogoBlue.png" class="logo"></a>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                @if (this.User.Identity.IsAuthenticated)
                {
                <li><a asp-controller="Home" asp-action="Dashboard">Administration Menu</a></li>   
                }
                <li><a asp-controller="Home" asp-action="Privacy">Contact Us</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
                @await Html.PartialAsync("_LoginPartial")
           @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-secondary box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-people-roof fa-2xl logo"></i><h3>CondoGest</h3></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu Testes</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                                </div>
                            </li>
                        </ul> 
                    </div>
                    <!-- Login Partial View for testing -->
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav> *@
        </header>

        <div class="mainContent">
            @* <main class="flex-grow-1">
                <div class="container py-3"> *@
                    @RenderBody()
                @* </div>
            </main> *@
        </div>

        <footer class="footer">
            <div>
                &copy; 2025 - <a asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-people-roof fa-lg"> CondoGest</i></a>
            </div>
        </footer>
    </section>

    <script src="~/js/loader.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
 
</html>

